@media screen and (max-width: 600px) {
  /* nav section start */

  .nav-items-container {
    display: none;
  }

  .logo {
    width: 80%;
  }

  .hemberger-icon {
    display: block;
  }

  /* nav section end */

  /* banner section start */

  .banner-section-title > h1 {
    font-size: 22px;
  }

  .banner-section-descreption > p {
    font-size: 14px;
    line-height: 21px;
    margin: 10px 0 30px 0;
  }

  .input-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
  }

  .input-field-container > label > input {
    width: 90%;
    margin: 0 auto;
  }

  .input-field-container > label {
    width: 90%;
    margin: 0 auto;
  }

  .input-field-container > button {
    width: 90%;
    margin: 0 auto;
  }

  /* banner section end  */

  /* popular-tours-section start */
  .popular-tours-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 15px;
  }

  .popular-tours-section-details-container {
    width: 100%;
  }

  .popular-tours-section-img {
    width: 100%;
  }

  /* popular-tours-section end */
}
