@media screen and (max-width: 600px) {
  /* nav section start */

  .nav-items-container {
    display: none;
  }

  .logo {
    width: 80%;
  }

  .hemberger-icon {
    display: block;
    /* width: 20%; */
  }

  /* nav section end */
}
