* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  --color1: #131318;
  --color2: #ff5400;
  --color3: #424247;
  --color4: #fff;
  --color5: #13131880;
  --color6: #131318b3;
}

.colorful-text {
  color: var(--color2);
}

body {
  width: 90%;
  /* height: 100%; */
  border: 4px dashed red;
  margin: 50px auto;
}

/* header section start */

.header {
  border: 2px dotted black;
}

/* nav section start */

.nav-section {
  /* border: 2px solid orange; */
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* border: 1px solid fuchsia; */
  width: 50%;
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo > h3 {
  color: var(--color1);
  font-size: 36px;
  font-weight: 800;
}

.nav-items-container {
  /* border: 1px solid darkorchid; */
  width: 50%;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 0;
}

.nav-items li a {
  text-decoration: none;
  color: var(--color3);
  font-size: 18px;
  font-weight: 400;
}

.hemberger-icon {
  display: none;
}

/* nav section end */

/* banner-section start */
.banner-section {
  border-radius: 16px;
  background-image: linear-gradient(to bottom, #131318cc, #13131800),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  margin: 50px 0 100px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.banner-section-title > h1 {
  color: var(--color4);
  font-size: 64px;
  font-weight: 800;
}

.banner-section-descreption > p {
  color: var(--color4);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0 65px 0;
  text-align: center;
}

.input-field-container {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  background: #ffffff4d;
}

.input-field-container > label {
  padding: 10px 20px;
  background: var(--color4);
  border: none;
  border-radius: 8px;
  margin-right: 24px;
}

.input-field-container > label > input {
  border: none;
  color: var(--color5);
  font-size: 16px;
  font-weight: 400;
}

.input-field-container > label > select {
  border: none;
  color: var(--color5);
  font-size: 16px;
  font-weight: 400;
}

.input-field-container > button {
  padding: 10px 20px;
  background: var(--color2);
  border: none;
  border-radius: 8px;
}

#find-btn {
  color: var(--color4);
  font-size: 16px;
  font-weight: 700;
}

/* banner section end  */

main {
  border: 2px solid blue;
}

/* popular-tours-section start */

.popular-tours-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-tours-section-details-container {
  width: 50%;
}

.popular-tours-section-details-container > h2 {
  color: var(--color1);
  font-size: 40px;
  font-weight: 800;
}

.popular-tours-section-description {
  color: var(--color6);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 20px 25px 0;
}

.popular-tours-section-description .list-items {
  margin: 20px 0 20px 30px;
}

.popular-tours-section-description .list-items ul li {
  margin-bottom: 10px;
}

.more-btn {
  width: 174px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background: var(--color2);
  color: var(--color4);
  font-size: 20px;
  font-weight: 800;
}

.popular-tours-section-img {
  width: 50%;
}

.popular-tours-section-img img {
  width: 100%;
}

/* popular-tours-section end */

/* Destination section start */

.destination-section {
  border: 2px solid violet;
  margin-top: 100px;
}

.destination-section-container {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.destination-section-container > h2 {
  color: var(--color1);
  font-size: 40px;
  font-weight: 800;
}

.destination-section-container > p {
  color: var(--color6);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0 50px 0;
}

.destination-section-img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  height: 950px;
}

.grid-1 {
  background-image: url("../Images/Rectangle\ 5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  font-size: 28px;
  font-weight: 800;
}
.grid-2 {
  background-image: url("../Images/Rectangle\ 8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  font-size: 28px;
  font-weight: 800;
}
.grid-3 {
  background-image: url("../Images/Rectangle\ 6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  font-size: 28px;
  font-weight: 800;
}
.grid-4 {
  background-image: url("../Images/Rectangle\ 7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 4 / span 6;
  grid-row: 2 / span 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  font-size: 28px;
  font-weight: 800;
}
.grid-5 {
  background-image: url("../Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 10 / span 3;
  grid-row: 2 / span 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  font-size: 28px;
  font-weight: 800;
}
.grid-6 {
  background-image: url("../Images/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  font-size: 28px;
  font-weight: 800;
}
.grid-7 {
  background-image: url("../Images/Rectangle\ 10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 6 / span 7;
  grid-row: 3 / span 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  font-size: 28px;
  font-weight: 800;
}

/* Destination section end */
